---
layout: default
---

<div class="home">

  <h1 class="page-heading">Let's meet a Rasta.online</h1>
  <p>Welcome to my tech blog bredren and sistren, kings and queens of the digital age. No matter which philosophy structures your life, no matter where you are born or how much you have, one thing is always true: <strong>knowledge</strong> empowers you to overcome struggles. If you are part of the curious beings among us, you may find something interesting here.</p>
  <h3>Software is like our hearts: Best wide open and shared with the community.</h3>
  <p>Open-source tools let you do awesome stuff for fun or if you really mean business. There are loads of supportive technologie available, which allows you to build professional online businesses without spending money. <strong>Let's make some progress and build a better internet for everyone</strong>.</p>
  

  <section>
    <h2>Latest Educational posts <i class="fa fa-cog fa-spin"></i><i class="fa fa-cog fa-spin fa-lg"></i><i class="fa fa-cog fa-spin fa-2x"></i></h2>
    <div class="article full">
        {% include education_list.html %}
        <h3><a title="Browse all posts about education ... " href="/education" >View all educational posts ... <span class="fa fa-share fa-lg"></span></a></h3>
    </div>
  </section>
  <section>
    <h2>Internet Security</h2>
    <div class="article full">
      <p><strong>Kevin Mitnick</strong> inspired me and many others to play around with different technologies and figure things out. We have a <a target="_blank" title="Chaos Computer Club on wikipedia ..."href="https://en.wikipedia.org/wiki/Chaos_Computer_Club">long and proud tradition of hacking</a> in Germany, with <a target="_blank" title="Karl Koch on wikipedia ..." href="https://en.wikipedia.org/wiki/Karl_Koch_(hacker)" >our very own heros</a> but Mr. Mitnicks is a entertaining legend and made the un-cool kids believe that we can change the world. He tought us that the single most powerful hacking tool lies not within software or code, rather then a cheeky social hack. Learn from the master himself at <strong>CeBIT Global Conferences 2015</strong>.</p>
      <p style="text-align:center; background-color:#000;"><iframe width="480" height="270" style="max-width:90%; max-height:auto;" src="https://www.youtube-nocookie.com/embed/Q7G3kKRdUl4?rel=0&amp;showinfo=0" seamless allowfullscreen></iframe></p>
    </div>
  </section>
  <h3>Or browse the following pages: <i class="fa fa-sitemap fa-lg"></i></h3>
  <div class="article full">
    {% include navigation_list.html %}
  </div>
  
</div>
