---
layout: default

seo_description: A Rasta in the digital jungle can help with knowledge and support. Smart solutions for lazy techies in the internet-business. Get more done is less time and deliver professional results. If you can, follow me now.

share: rasta
---

<div class="home">

  <h1 class="page-heading center"><img alt="Meet a Rasta online" src="{{site.path-image}}/rasta-logo.png"/></h1>
  <p>"<b>Education</b> develops the intellect; and the intellect distinguishes man from other creatures. It is <b>education</b> that enables man to harness nature and utilize her resources for the well-being and improvement of his life."</p>
  <p><i>H.i.M. Haile Selassie I</i></p>
  <section>
    <div class="article full">
      <h2><i class="fa fa-graduation-cap fa-lg"></i> Software posts</h2>
        {% include education_list.html %}

        <h3><span class="fa fa-external-link fa-lg"></span> Also check these blogs:</h3>
          {% include list_external_blogs.html %}
        <h3><a title="Browse all posts about education ... " href="{{site.baseurl}}/education" >View all educational posts ... <span class="fa fa-share fa-lg"></span></a></h3>
    </div>
  </section>
<h2>Community News</h2>
  <div class="article full">

    {% include list_news.html %}
  </div>
  
</div>
