{% assign promo-shirts = site.data.promotion-shirts | where:"slot", slot %}
{% assign counter_carousel = 0 %}
{% assign tags = '' | split: '' %}
<div style="max-width: 340px">
<amp-carousel 
  width="340"
  height="390"
  layout="responsive"
  delay="5000"
  type="slides"
  delay="5000"
  autoplay
  loop
  >
  {% for shirt in promo-shirts %}
  {% assign tags = tags | concat: shirt.categories %}
  {% assign counter_carousel = counter_carousel | plus: 1 %}
  {% assign lightbox_id = slot | append: "_" | append: counter_carousel %}
  <div class="slide">
    {% assign link = "https://" | append: shirt.link %}
    {% assign image = "/promo/" | append: shirt.image %}
    {% assign alt = shirt.alt %}
    {% capture my_pic %}{% picture logo {{image}} --alt {{alt}}%}{% endcapture %}
    <a href="{{link}}" target="_blank">{{my_pic | amp_image_id: lightbox_id }}</a>
    <div class="carousel_footer">
      <a  class="buy_now green" href="{{link}}" target="_blank" title="Buy now: {{alt}}"><span class="fa fa-shopping-cart fa-3x"></span></a>
      <a title="Larger Picture" href="/{{site.picture.source}}{{image}}" target="_blank" class="large_product gold" ><span class="fa fa-search-plus fa-3x"></span></a>
      {% include amp_more_products.html%}
    </div>
  </div>
  {% endfor %}
</amp-carousel>

</div>