<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3>References</h3>
        <ul>
          <li>CV on <a href="{{ site.cv }}" target="_blank" title="Profile on stackoverflow.com">StackOverflow</a></li>
        </ul>

      </div>

      <div class="footer-col footer-col-2">
        <h3>Contact</h3>
        <ul>
           <li><a href="mailto:{{ site.email }}"><span aria-hidden="true" title="Email" aria-label="Email" class="fa fa-envelope"></span> Email</a></li>
           <li><a href="skype:{{ site.skype }}?chat"><span aria-hidden="true" title="Skype Chat" aria-label="Skype Chat" class="fa fa-skype fa-lg"></span> Skype </a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h3>QuickLinks</h3>
        <ul>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>

