<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3>Rasta abroad</h3>
        <ul class="invisible">
          <li><a href="{{site.company-url}}" target="_blank" title="Rapid Agile Software"><span class="fa fa-lg fa-file-o"></span> Rapid Agile Software</a></li>
          <li><a href="{{site.git-url}}" target="_blank" title="Follow a Rasta on github.com"><span class="fa fa-lg fa-github"></span> GitHub</a></li>
          <li><a target="_blank" href="{{site.linked_in-url}}"><span class="fa fa-linkedin-square"></span><span class="footer_link_text"> LinkedIn</span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <h3>Contact</h3>
        <ul class="invisible">
           <li><a href="{{site.company-url}}/contact"><span aria-hidden="true" title="Contact form" aria-label="conact form" class="fa fa-align-justify"></span> Contact form</a></li>
           <li><a href="mailto:{{ site.email }}"><span aria-hidden="true" title="Email" aria-label="Email" class="fa fa-envelope"></span> Email</a></li>
           <li><a href="{{site.instagram-url}}" target="_blank" title="Follow a Rasta on Instagram"><span class="fa fa-lg fa-instagram"></span> Instagram</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h3>QuickLinks</h3>
        {% include navigation_list.html %}
      </div>

    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="#top"><span aria-hidden="true" title="Scroll to top" aria-label="Scroll to top" class="fa fa-arrow-circle-o-up fa-lg"></span> Back to top</a>
      </div>

      <div class="footer-col footer-col-2">
        <a href="{{ site.baseurl }}/sitemap.xml"><span class="fa fa-sitemap fa-lg" aria-hidden="true" title="to Sitemap" aria-label="to Sitemap"></span> Sitemap</a>
      </div>

      <div id="colophone" class="footer-col footer-col-3">
        <a href="{{ site.baseurl }}/"><span class="fa fa-copyright"> 2002-{{ site.time | date: "%Y" }}</span> All rights reserved. </a>
    </div>

  </div>

  </div>
  

</footer>

