<div class="partners list">
    {% for post in site.tags.partnerPlus %}
    <section>
        <div class="partner_description">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            <div class="post_actions">
                <a href="{{ post.url }}" title="View Details"><span class="fa fa-eye fa-lg"></span></a>
                <a href="{{ post.partner_url }}" title="Go to website ..." target="_blank"><span class="fa fa-share fa-lg"></span></a>
            </div>
        </div>
        <h4 class="center"><a href="{{post.url}}" title="more ...">{{post.title}}</a></h4>
     </section>
    {% endfor %}
    {% for post in site.tags.partner %}
    <section>   
        <div class="partner_description">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            <div class="post_actions">
                <a href="{{ post.url }}" title="View Details"><span class="fa fa-eye fa-lg"></span></a>
                <a href="{{ post.partner_url }}" title="Go to website ..." target="_blank"><span class="fa fa-share fa-lg"></span></a>
            </div>
        </div>
        <h5 class="center"><a href="{{post.url}}" title="more ...   ">{{post.title}}</a></h5>
     </section>
    {% endfor %}
</div>
