{% assign promo-shirts = site.data.promotion-shirts | where:"slot", slot %}
{% assign counter = 0 %}

<div class="center promo">
{% for shirt in promo-shirts %}
	{% assign counter = counter | plus: 1 %}
	{% assign image = "/promo/" | append: shirt.image %}
		{% picture promo {{image}} onclick="openModal('{{slot}}');{{slot}}_currentSlide({{ counter }})"%}
{% endfor %}
</div>

<!-- The Modal/Lightbox -->
{% assign second_counter = 0 %}
<div id="{{slot}}" class="modal">
  {% include order-info.html %}
  <span class="close cursor" onclick="closeModal('{{slot}}')">&times;</span>
  <div class="modal-content">
  	{% for shirt in promo-shirts %}
		{% assign second_counter = second_counter | plus: 1 %}
		{% assign link = "https://" | append: shirt.link %}
		{% assign image = "/promo/" | append: shirt.image %}
		<div class="{{slot}}_Slides">
			<div class="numbertext">{{second_counter}} / {{counter}} </div>
			<a target="_blank" href="{{link}}" title="{{shirt.alt}}">
			{% picture {{image}}  %}
			</a>
		</div>
	{% endfor %}
    <!-- Next/previous controls -->
    <a class="prev" onclick="{{slot}}_plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="{{slot}}_plusSlides(1)">&#10095;</a>

    <!-- Thumbnail image controls -->
    {% assign counter_3 = 0 %}
    {% for shirt in promo-shirts %}
    	{% assign counter_3 = counter_3 | plus: 1 %}
		{% assign image = "/promo/" | append: shirt.image %}
		<div class="column">
			{% picture promo {{image}} onclick="openModal('{{slot}}');{{slot}}_currentSlide({{ counter_3 }})" class="demo" %}
		</div>
	{% endfor %}
  </div>
</div>
<script>
var {{slot}}_slideIndex = 1;
{{slot}}_showSlides({{slot}}_slideIndex);
// Next/previous controls
function {{slot}}_plusSlides(n) {
  {{slot}}_showSlides({{slot}}_slideIndex += n);
}
// Thumbnail image controls
function {{slot}}_currentSlide(n) {
  {{slot}}_showSlides({{slot}}_slideIndex = n);
}
function {{slot}}_showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("{{slot}}_Slides");
  var dots = document.getElementsByClassName("demo");
  if (n > slides.length) { {{slot}}_slideIndex = 1}
  if (n < 1) { {{slot}}_slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[{{slot}}_slideIndex-1].style.display = "block";
  dots[{{slot}}_slideIndex-1].className += " active";
}
</script>