<div class="series-navigation">
    {% if page.previous %}
        <a class="prev_article" title="Read previous article: {{page.previous.nav_title}}" href="{{site.baseurl}}{{page.previous.url}}" ><span class="fa fa-angle-double-left fa-lg"></span> <span class="text">{{page.previous.nav_title}}</span><span class="small-text">Read previous</span> </a> 
    {% endif %}
    {% if page.next %}
        <a class="next_article" title="Read follow up: {{page.next.nav_title}}" href="{{site.baseurl}}{{page.next.url}}" > <span class="text">{{page.next.nav_title}}</span> <span class="small-text">Read next</span> <span class="fa fa-angle-double-right fa-lg"></span></a> 
    {% endif %}
</div>
