<div class="entry">
      <a class="image" target="_self" title="What is Rastafari?" href="{{site.baseurl}}/education/what-is-rastafari.html">
  
      {% include amp_image.html url="flag.png" size="thumbnail" alt="Live Performances" %}
      </a>
        <a class="text" target="_self" title="What is Rastafari?" href="{{site.baseurl}}/education/what-is-rastafari.html">
          What is Rastafari?
        </a>
</div>
<div class="entry">
	<ul class="link_list">
		<li><a target="_self" href="{{site.baseurl}}/education/what-is-rastafari.html#rastafari-is-not-a-religion" title="Rasta is NOT a religion">#NOT-A-RELIGION</a></li>
		<li><a target="_self" href="{{site.baseurl}}/education/what-is-rastafari.html#rastafari-is-a-religion" title="Rasta IS a religion">#YES-IT-IS</a></li>
		<li>
			<a target="_self" title="Who is Ras Tafari?" href="{{site.baseurl}}/education/what-is-rastafari.html#ras-tafari---haile-selassie-i">#RAS-TAFARI</a>
		 	<a target="_self" title="Who is Haile Selassie I?" href="{{site.baseurl}}/education/what-is-rastafari.html#ras-tafari---haile-selassie-i">#HAILE-SELASSIE-I</a>
		 </li>
		<li><a target="_self" title="What is Rasta Livety?" href="{{site.baseurl}}/education/what-is-rastafari.html#rasta-livety">#RASTA-LIVETY</a></li>
		<li><a target="_self" title="What do Rastas eat? What id ital food?" href="{{site.baseurl}}/education/what-is-rastafari.html#food---ital-is-vital">#ITAL-IS-VITAL</a> 
			<a target="_self" title="What do Rastas eat? What id ital food?" href="{{site.baseurl}}/education/what-is-rastafari.html#food---ital-is-vital">#FOOD</a></li>
		<li><a target="_self" title="What is Ganja for Rasta?" href="{{site.baseurl}}/education/what-is-rastafari.html#ganja-and-meditation">#GANJA</a>
			<a target="_self" title="Do Rastas meditate?" href="{{site.baseurl}}/education/what-is-rastafari.html#ganja-and-meditation">#MEDITATION</a></li>
		<li><a target="_self" title="What does Red, Gold and Green mean?" href="{{site.baseurl}}/education/what-is-rastafari.html#red-gold-green-and-other-symbols">#SYMBOLS</a></li>
		<li>
			<a target="_self" title="Reasoning in Rastafari" href="{{site.baseurl}}/education/what-is-rastafari.html#reasoning-and-lingo">#REASONING</a>
			<a target="_self" title="Rasta speach and Lingo explained" href="{{site.baseurl}}/education/what-is-rastafari.html#reasoning-and-lingo">#OVERSTANDING</a></li>
		<li><a target="_self" title="The role of Reggae in Rasta" href="{{site.baseurl}}/education/what-is-rastafari.html#reggae-music">#REGGAE</a></li>
		<li><a target="_self" title="Do Rastas hate gays?" href="{{site.baseurl}}/education/what-is-rastafari.html#homophobia">#HOMOPHOBIA</a></li>
	</ul>
</div>