---
layout: default
title: Music

navigation: main
seo_description: Reggae is beloved all over the world, it transcents cultures, backgrounds and touches the lifes of millions. It can teach us valuable lessons and inspires to live our lifes to the fullest

share: rasta
---

<article class="music">
  <div class="center">
    <a title="Explore our music section ... " href="{{site.baseurl}}/music">{% picture ReggaeHeader.png %}</a>
  </div>
  <h2 class="page-heading">Music is life and Reggae is its heartbeat</h2>
  <p>Reggae is beloved all over the world, it transcents cultures, backgrounds and touches the lifes of millions. It can teach us valuable lessons and inspires to live our lifes to the fullest.</p>
  <p>Enjoy our top lists of essential tunes whitch uplift, educate and spread the positive message to brighten up your day.</p>
  <p>
    {% include top_navigation.html %}
  </p>
    {% assign slot = "music-top-reggae" %}
    <!--
    {% include promotion.html %}
    -->
    {% include promotion-lightbox.html %}
  <section>
    <h3><a href="category/rastaman-tunes.html" id="rastaman">Top Essential Rastaman Tunes</a></h3>
    {% include top_rastaman.html %}
    {% assign slot = "music-top-rastaman" %}
    {% include promotion.html %}
  </section>
  
  <section> 
    <h2><a href="category/empress-tunes.html" id="empress">Top Empress tunes</a></h2>
    {% include top_empress.html %}
    {% assign slot = "music-top-empress" %}
    {% include promotion.html %}
  </section>
  <section> 
    <h2><a href="category/love-songs.html" id="love">Top Reggae Love Songs</a></h2>
    {% include top_love.html %}
  </section>
   
  <section> 
    <h2><a href="#" id="artists">Discover Artists</a></h2>
    <p>Here you find quick access to the artists featured in the lists above, to their most essential songs with a great deal of brilliant music.</p>
    {% include top_artists.html %}
  </section>
   <p>
    {% include top_navigation.html %}
  </p>

  <!--
  <section>
      <h3>Ital is vital</h3>
  </section>
  ganja tunes
  <section><h3>Reggae Classics</h3></section>
  <section><h3>Dancehall Tunes</h3></section>
-->
</article>
