---
layout: default
---

  {% assign author = site.author %}
  {% assign post_date = "now" | date: "%b %-d, %Y" %}
  {% assign up_date = "now" | date: "%b %-d, %Y" %}
  
  {% if page.date %}
    {% assign post_date = page.date %}
  {% endif %}
  {% if page.author %}
    {% assign author = page.author%}
  {% endif %}

{% if page.series %}
        {% include series_navigation.html %}  
{% endif %}
<article class="post article full">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
 
    <p class="post-meta">
      {{post_date | date: "%b %-d, %Y" }} • 
      <span >{{ author }}</span>
    </p>
  </header>
  <div class="post-content">
    {{ content | toc }}
  </div>
</article>
 {% if page.series %}
        {% include series_navigation.html %}  
    {% endif %}
