---
layout: default
---
{% if page.series %}
        {% include series_navigation.html %}  
{% endif %}
<article class="post article full" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    {% if page.author %}
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></p>
    {% endif %}

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
 {% if page.series %}
        {% include series_navigation.html %}  
    {% endif %}
